body{
    background-color: rgb(253, 251, 251);
    font-family: Prompt;
    font-size: 4mm;
    line-height: 5mm;
    color: black;
}
#cabecalho{
    background-color: green;
    height: 100px;
    position:fixed;
    top:0;
    left:0;
    right: 0;
}
#titulo{
    text-align: center;
}
img{
    margin-top: 100px;
    margin-left: 640px;
}
#meu_nome{
    text-align: center;
}
.listas{
    display: inline-block;
    margin-left: 330px;
    background-color: blueviolet;
    padding: 50px;
    border: 50px;
}
.lado_esquerdo{
    width: 40%;
    display:inline-block;
}
.lado_direito{
    width: 40%;
    display:inline-block;
}
.lado_direito, .lado_esquerdo{
    text-align: center;
    margin: 0px 70px;
}